/*/*####### left side ####### */
.leftCol {
	padding: 0px !important;
	border-right: solid #403F3D 4px;

}
.designBox {
	background-color: #EFEFEF;
	height: 20vh;
	border-bottom: solid #403F3D 4px;	
}
.buttonTitle {
	/*background-color: green;*/
	height:10vh;	
}
.buttonTitleText {
	margin-top: 5px;
	color: #403F3D;
}
.buttonGroupDiv {
	/*background-color: p;*/
	height:10vh;
	margin-left: 0%;

}
.buttonGroupIcons {
	height:30px;
	width:30px;
	background-color: #efefef;
	color:#403f3d;
	border-radius: 0px !important;
	border-color: #403f3d !important;
	border-style: solid !important;


}

.selectionListDiv {
	background-color: #EFEFEF ;
	height: 70vh;
}

/*####### big map #########*/
.buildLayout {
	height:90vh;
}

/*####### right side #######*/
.rightCol {
	padding: 0px;
	height:90vh;
	padding-right: 10px;
}
.rendersDiv {
	background-color: #403F3D;
	height:37vh;
	padding: 0px !important;
}
/*..... carousel .....*/
/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% !important;
  height: 37vh !important;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 930px;
  }

}


/*.... /carousel ....*/

.dreamPlanRight {
	background-color: #EFEFEF;
	height:30vh;
	border-style: solid;
	border-color: #403F3D;
	border-width: 3px;
	overflow-y: auto;
}
.detailsListRight {
	background-color: #403F3D;
	height: 15vh;
}
.rightSideSpace {
	height: 2vh;
	background-color: white;
	padding: 0px;
}
.total {
	font-size: 1.3em;
	color: white;
}
.totalDiv {
	height:6vh;
	padding: 10px;
	overflow-y:auto;
}


/*bottom progress bar*/
.progressBarBottom {
	background-color: #EFEFEF;
	height:9.7vh;
	padding-left: 0px;
}
.barBorder {
	height: 0.3vh;
	background-color: #403F3D;
}
.progressNumber {
/*	background-color: black;
	width:50px !important;
	margin: 10px;*/
}




/*...*/
body{margin-top:50px;}
/*.glyphicon { margin-right:10px; }*/
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.panel-group {
    height:500px;
    overflow-y:auto;
}

/*...*/



