/*/*####### left side ####### */
.leftCol {
	padding: 0px !important;
	border-right: solid #403F3D 4px;
}
.designButtons {
	background-color: #EFEFEF;
	height: 20vh;
	border-bottom: solid #403F3D 4px;	
}

.selectionListDiv {
	background-color: #EFEFEF ;
	height: 70vh;
}

/*####### big map #########*/
.buildLayout {
	height:90vh;
}

/*####### right side #######*/
.rightCol {
	padding: 0px;
	height:90vh;
	padding-right: 10px;
}
.rendersDiv {
	background-color: #403F3D;
	height:37vh;
}
.dreamPlanRight {
	background-color: #EFEFEF;
	height:30vh;
	border-style: solid;
	border-color: #403F3D;
	border-width: 3px;
	overflow-y: auto;
}
.detailsListRight {
	background-color: #403F3D;
	height: 15vh;
}
.rightSideSpace {
	height: 2vh;
	background-color: white;
}
.total {
	font-size: 1.3em;
	color: white;
}
.totalDiv {
	height:6vh;
	padding: 10px;
	overflow-y:auto;
}


/*bottom progress bar*/
.progressBarBottom {
	background-color: #EFEFEF;
	height:9.7vh;
	padding-left: 0px;
}
.barBorder {
	height: 0.3vh;
	background-color: #403F3D;
}
.progressNumber {
/*	background-color: black;
	width:50px !important;
	margin: 10px;*/
}




/*...*/
body{margin-top:50px;}
/*.glyphicon { margin-right:10px; }*/
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.panel-group {
    height:500px;
    overflow-y:auto;
}

/*...*/



