body{
	background-color:#84A98C;


}
#weatherBox{
	margin:auto;
}

/*.centered {
	width: 650px;
}*/
#todaysWeather {
	background-color: #CAD2C5;
	width: 200px;
	height: 200px;
	border: solid;
	border-radius: 5px;
	margin:5px;


}
#tomorrow {
	background-color: #CAD2C5;	
	width: 200px;
	height: 200px;
	border: solid;
	border-radius: 5px;
	margin:5px;
	
}
#dayAfter {
	background-color: #CAD2C5;
	width: 200px;
	height: 200px;
	border: solid;
	border-radius: 5px;
	margin:5px;
	
}


#latitude {
	height: 25px;
	width: 200px;
	margin: 10px;
}
#longitude {
	height: 25px;
	width: 200px;
	margin: 10px;

}
#map-canvas {
    width: 500px;
    height: 400px;