#weatherBox {
	height: 3000px;
	width: 1100px;
	background-color: #B1DDF1;
}
/*div {
	text-align: center;
	border: solid;
	border-radius: 5px;	
	float: left;
}
*/
#todaysWeather {
	background-color: lightblue;
	text-align: center;
	width: 300px;
	height: 300px;
	float: left;
	margin-left: 80px;
	border: solid;
	border-radius: 5px;


}
#tomorrow {
	background-color: lightblue;
	text-align: center;
	width: 300px;
	height: 300px;
	float: left;
	border: solid;
	border-radius: 5px;
	margin-left: 5px;
}
#dayAfter {
	background-color: lightblue;
	text-align: center;
	width: 300px;
	height: 300px;
	float: left;
	border: solid;
	border-radius: 5px;
	margin-left: 5px
}
h1{
	text-align: center;
}
#latitude {
	height: 25px;
	width: 200px;
	margin: 10px;
}
#longitude {
	height: 25px;
	width: 200px;
	margin: 10px;

}
#map-canvas {
    width: 1100px;
    height: 600px;